<!DOCTYPE html>
<html lang="en-US">
<header>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script language="javascript">
function _submit(form) {
					var keyToSearch = document.getElementById("searchKey").value;
					//window.alert(keyToSearch);
					var client = algoliasearch('M54GQ5QA25', 'c7f4f469d460e8168e7012952d335a8b');
					var index = client.initIndex('predemo_usc_index');
					index.setSettings({
						   attributesToRetrieve: [
							'abstract',
							'tags',
							'title',
							'videoID',
							'date'
							],
							'attributesToHighlight': [
							'abstract',
							'tags',
							'title'
						  ],
						  'hitsPerPage': 20,
						  'highlightPreTag': '<strong>',
						  'highlightPostTag': '</strong>'
						}, function(err, content) {
						  console.log(content);
						});
						
					index.search(keyToSearch, function(err, content) {
					//window.alert("hi")
						  console.log(content);
						  //window.alert("count" + content.nbHits);
						  var resultsCount = "<h6>"+ content.nbHits + " Results found</h6>"
						  var list = resultsCount + "<ul style='list-style-type:disc'>"
						  for (var i=0;i < content.hits.length;i++) {
							list += "<li>";
							var elem = content.hits[i];
							//window.alert("date is: " + elem.date);	
							var item = "<strong>Date:</strong> "+ elem.date +"<br><strong>Match Highlights:</strong> ";
							//window.alert(elem._highlightResult.abstract.matchLevel)
							if (elem._highlightResult.abstract.matchLevel != "none") {
								item += elem._highlightResult.abstract.value + " ... ";
							}
							if (elem._highlightResult.title.matchLevel != "none") {
								item += elem._highlightResult.title.value + " ... ";
							}
							if (elem._highlightResult.tags.matchLevel != "none") {
								var str = elem._highlightResult.tags.value;
								var startInd = str.indexOf("<strong>");
								while (startInd != -1) {
									var endInd = str.indexOf("</strong>", startInd);
									item+= str.substring(startInd, endInd+9) + " ";
									str = str.substring(endInd+9);
									startInd = str.indexOf("<strong>");
								}
								item += "... ";
							
							}
							item += "<br><strong>Abstract:</strong> " + elem.abstract + "<br><br><h3><strong>Report:</strong> <a href='http://192.168.1.138:3000/" + elem.videoID +"' target='_blank' >" + elem.title + "</a></h3>";
							list += item +"</li><br><br>";
						  }
						  list += "<ul>"
						  document.getElementById("matchResult").innerHTML = list;//"<u>Transcript</u><br><br>" + content.hits[0].title;
						  //var hVal = content.hits[0]._highlightResult.title.value;
						  
						  //var startInd = hVal.indexOf("<strong>");
						  //var endInd = hVal.lastIndexOf("</strong>");
						  //var highlight = hVal;//.substring(startInd, endInd+9);
						  //document.getElementById("highlightedResult").innerHTML = "<u>Matched Result</u><br><br>..." + highlight + "...";
						});
				}
</script>
</header>
<body>
<div class="needs-js absoluteTK cf bb b--light-gray bg-near-white child left-0 w-100 z-5">
<fieldset class="bn ma0 pa0"><label id="search_label" class="clip" for="search"> <h1><img src="RetroSign.png"/></h1><i>Search</i></label>
<br>
<form id="searchForm" name="searchForm" method="POST">
	<span > 
		<input id='searchKey' name="key" type="text" maxlength="100" size="35" class="needs-js pv3 bn dib f2 input-reset lh-solid mt0-ns pv2 tc w-100 color-f searchinput" aria-labelledby="search_label" autocomplete="off"/>
		</span>
		<input type="button" name="submit" value="Submit" onClick="_submit(this.form);"/>
		
		<br>
		<br>
		<div id= "matchResult">
</div>
</form>
</fieldset>
</div>
<br>
<div id= "highlightedResult">
</div>
<br>

		
 <!-- <div ng-app="">
<p>Search for : <input type="text" ng-model="keyword" placeholder="type something..." name="searchType">
			<span class="input-group-btn buttonsCustom">
								<button id="submit" type="button" class="btn btn-default myButton" ng-click="_submit()">
								    <span class="glyphicon glyphicon-search">Submit</span>
								</button>
		</span>
							</p> <h1>Hello {{name}}</h1></div>'attributesToHighlight': [
							'content'
						  ],
						  -->
 

</body>
</html>